/* Fluid registry CSS */

@keyframes spinner-move {
  to {
    stroke-dashoffset: -100;
  }
}

@keyframes spinner-dash {
  0%, 100% {
    stroke-dasharray: 15 85;
  }
  50% {
    stroke-dasharray: 40 60;
  }
}
